@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --background: #090707;
  --foreground: #f4f4f5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-mono);
  --font-mono: var(--font-geist-mono);
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-mono), monospace;
}
